/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: rgb(0, 0, 0.6);
    --second-bg-color: rgb(0, 0, 0.6);
    --text-color: white;
    --main-color: cyan;
    --main-color2: whitesmoke;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo styles and hover effect */
.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

/* Navbar styles */
.navbar a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

/* Menu icon styles */
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/* Section styles */
section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

/* Home section */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

span {
    color: var(--main-color);
}

.logo span {
    color: var(--main-color);
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
    font-size: 5rem;
}

.home-content h1 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
}

.home-content p {
    font-size: 4rem;
    font-weight: 600;
}

/* Social icons */
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color2);
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
}

/* Text animation */
.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "--";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%,
    20% {
        content: "Graphic Designer";
    }
    21%,
    40% {
        content: "Web Developer";
    }
    41%,
    60% {
        content: "Calligrapher";
    }
    61%,
    80% {
        content: "Animator";
    }
    81%,
    100% {
        content: "Programmer";
    }
}

@keyframes typing {
    5%,
    10%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    15%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

/* About section */
.about {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
}

.about h1 {
    font-size: 4rem;
    margin-bottom: 40px;
    text-align: left;
}

#pic {
    display: flex;
    align-items: flex-start;
    flex: 1;
    border-radius: 50%;
}

#pic img {
    position: relative;
    width: 35rem;
    height: 23vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
}

#intro {
    flex: 3;
    max-width: 1300px;
}

#intro p {
    font-size: 1.3rem;
    color: var(--text-color);
    line-height: 1.8;
    margin-bottom: 10px;
    margin-right: 2rem;

}

.explore-button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.explore-button:hover {
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color2);
}

/* Projects section */
.projects {
    background: var(--bg-color);
}

.projects h2 {
    margin-bottom: 8rem;
    font-size: 4rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box {
    position: relative;
    border-radius: 2rem;
    height: 400px;
    overflow: hidden;
    display: flex;
}

.projects-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-box .projects-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    cursor: pointer;
    transition: background 0.5s ease, transform 0.5s ease;
}

.projects-box .projects-info:hover {
    background: radial-gradient(rgb(211, 167, 8), var(--main-color));
    transform: scale(1.1);
}

.projects-info h4 {
    font-size: 3.9rem;
    background-color: rgb(0, 0, 0);
    font-weight: 800;
}

.projects-info a {
    color: floralwhite;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: white;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.projects-info a i {
    font-size: 3rem;
    color: var(--main-color);
}

/* Skills section */
.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--bg-color);
}

.skills h2 {
    font-size: 3.7rem;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
    column-gap: 3rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1rem;
    border-radius: 50%;
    column-width: 50rem;
}

.skills-box .skills-content {
    position: relative;
    border: 0.2rem solid var(--text-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--text-color);
    padding: 0.5rem;
    margin: 1rem 0;
    background: black;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 0.6rem;
    background: black;
    width: 0;
    transition: width 0.3s ease;
}

.skill-1 span {
    background: cyan;
}

.skill-2 span {
    background: deeppink;
}

.skill-3 span {
    background: gold;
}

.skill-4 span {
    background: chartreuse;
}

.skill-5 span {
    background: red;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 100%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 97%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 79%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 75%;
    background: greenyellow;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 95%;
    background: darkgoldenrod;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 89%;
    background: hotpink;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 80%;
    background: indianred;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 100%;
    background: turquoise;
}

/* Contact section */
.contact {
    background-color: var(--bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
    font-size: 3.3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
}

/* Footer styles */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-color);
}

.icon {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 0;
}

.footer .social {
    text-align: center;
    padding: 25px;
    color: azure;
}

.footer .social a {
    font-size: 25px;
    color: azure;
    border: 25px solid var(--bg-color);
    width: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: white;
    color: var(--text-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: azure;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid azure;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

/* Responsive styles */
@media screen and (max-width: 1285px) {
    .header {
        padding: 2rem 5%;
    }
    .navbar a {
        font-size: 1.6rem;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    .navbar a {
        font-size: 1.4rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 895px) {
    .header {
        padding: 1.5rem 2%;
    }
    .navbar a {
        font-size: 1.2rem;
        margin-left: 0.5rem;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background: var(--second-bg-color);
        border-top: 0.1rem solid black;
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 1rem 1%;
    }
    .navbar {
        width: 80%;
    }
    .navbar a {
        font-size: 1.8rem;
        margin: 2rem 0;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content p {
        font-size: 2rem;
    }
    .home-img img {
        width: 50vw;
    }
    .text-animation {
        font-size: 2.4rem;
    }
    .skills h2 {
        font-size: 3rem;
    }
    .skills-content .progress h3 {
        font-size: 1.4rem;
    }
    .skills-content .progress .bar {
        height: 2rem;
    }
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about {
        padding: 20px;
    }
    #pic img {
        width: 25rem;
        height: auto;
    }
    #intro {
        max-width: 90%;
    }
}

/* Projects section responsive styles */
@media screen and (max-width: 1024px) {

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}
